<h3><a href="{{ product.url }}">{{ product.title }}</a></h3>

{% if product.tagline %}
<p class="lead">{{ product.tagline }}</p>
{% endif %}

<img alt="{{ product.title }}" src="{{ product.images.first|thumbnail(179) }}" />
<p>
    {{ product.price|currency }}
    <button type="submit"
        data-request="{{ basketComponent }}::onAddProduct"
        data-request-data="id: {{ product.id }}, quantity: 1"
        {% if basketContainer %}
            data-request-update="'{{ basketPartial }}' : '{{ basketContainer }}'"
        {% endif %}
    >
        Add to Basket
    </button>
</p>
