<tr class="ocshop-row-{{ item.rowId }}">
    <td>
        <button type="submit" class="btn btn-xs btn-default"
                data-request="{{ __SELF__ }}::onRemoveProduct"
                data-request-data="row_id: '{{ item.rowId }}'"
                data-request-update="'{{ __SELF__.basketPartial }}' : '{{ __SELF__.basketContainer }}'"
            <span class="glyphicon glyphicon-remove"></span>
        </button>
    </td>
    <td><a href="{{ item.model.url }}">{{ item.name }}</a></td>
    <td>{{ item.qty }}</td>
    <td>{{ item.price|currency }}</td>
    <td>{{ item.subtotal|currency }}</td>
</tr>
