<table class="table{% if __SELF__.condense %} table-condensed{% endif %}">
    <thead>
        <tr>
            <th>&nbsp;</th>
            <th>Product</th>
            <th>Qty.</th>
            <th>Price</th>
            <th>Subtotal</th>
        </tr>
    </thead>
    <tbody>
        {% for item in __SELF__.basketItems %}
            {% partial __SELF__~'::_item' item=item %}
        {% endfor %}
        <tr>
            <td colspan="4"><span class="pull-right">Total:</span></td>
            <td><span class="ocshop-total">{{ __SELF__.basketTotal|currency }}</span></td>
        </tr>
    </tbody>
</table>
