<h2>{{ product.title }}</h2>

{% if product.tagline %}
<p class="lead">{{ product.tagline }}</p>
{% endif %}

{% if product.model %}
<p><strong>Model:</strong> {{ product.model }}<br></p>
{% endif %}

{% for image in product.images %}
    <a href="{{ image.getPath() }}">
        <img alt="{{ product.title }}" src="{{ image|thumbnail(150) }}">
    </a>
{% endfor %}

{{ product.description|raw }}

<h5>{{ product.price|currency }}</h5>

{% if product.canBePurchased %}
    <form
        data-request="{{ basketComponent }}::onAddProduct"
        data-request-data="id: {{ product.id }}"
        {% if basket %}
            data-request-update="'{{ basketPartial }}' : '{{ basket }}'"
        {% endif %}
    >
        <input type="number" name="quantity" placeholder="Qty"
            min="1" max="9999" value="1"
        >
        <button type="submit">Add to Basket</button>
    </form>
{% elseif product.isComingSoon %}
    <p>Coming soon! Please check back later.</p>
{% else %}
    <p>Sorry, this product is currently unavailable for purchase.</p>
{% endif %}
